<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Reddit Sample</title>
  <link rel="stylesheet" href="/index.css" />
</head>
<body>
  <div id="root"></div>
</body>
</html>
