:global {
  .ant-collapse-item {
    border: none !important;
    padding-top: 20px !important;
  }
  .ant-collapse-header {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .ant-collapse-content-box {
    padding-bottom: 4px !important;
  }

  .ant-collapse-arrow {
    top: 1em !important;
  }

  .previews-container {
    text-align: center;
  }
  
  .image-previews {
    max-width: 100%;
  }

  .footer-link {
    padding-left: 0px;
    color: grey;
  }

  .list-hover:hover {
    background-color: lightblue;
    cursor: pointer;
  }

  .primary-link {
    color: rgb(16, 142, 233);
  }

  .float-right {
    float: 'right';
  }

  .main-layout {
    margin-left: auto;
    margin-right: auto;
  }

  .bg-white {
    background-color: white;
  }

  .primary-color {
    color: #108ee9;
  }

  .content-layout {
    padding: 0px 50px;
  }

  .c-black {
    color: black;
  }

  .b-word {
    word-break: break-word;
  }

  .no-child-comment {
    padding-left: 40px;
  }

  .center-child-cont {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .post-col-cont {
    padding: 10px 0px;
  }

  .ta-right {
    text-align: right;
  }

  .col-card-header {
    text-align: right;
    font-size: 12px;
  }

  .comments-container {
    margin-bottom: 10px;
  }
}